body {
	background-color: #ecf0f1;
	font-family: Playfair;
	font-size: 18px;
	padding-top: 150px;
}

header {
	width: 100%;
	height: 220px;
	background-color: #3498db;
	text-align: center;
	position: fixed;
	top: 0;
	overflow: hidden;
}

header h1 {
	font-size: 42px;
	color: white;
	line-height: 150px;
	text-transform: uppercase;
	font-weight: 100;
}

header nav {
	position: absolute;
	bottom: 0;
	height: 60px;
	line-height: 60px;
	width: 100%;
	background-color: rgba(0, 0, 0, .1);
}

header nav a {
	box-shadow: inset 0 0 0 0 #174c5f;
	margin: 0 -.25rem;
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
	color: white;
	display: inline-block;
	padding: 10px 10px;
	line-height: 1;
	text-decoration: none;
}

header nav a:hover {
	box-shadow: inset 100px 0 0 0 #54b3d6;
	color: white;
}

#about {
	padding-top: 100px;
}

.section {
	display: block;
	text-align: center;
}

.section h1 {
	color: #3498db;
	transition: transform 1s;
}

.section h1:hover {
	/* transform: scale(1.2); */
	transform: translate(10px, -10px);
	opacity: 50;
	color: #174c5f;
}

.gallery {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	align-items: center;
	justify-items: center;
	/* border: 1px solid #051b45; */
}

.gallery img:hover {
	border: 1px solid #197fba;
	transform: scale(1.1);
}

/* .gallery .desc {} */

.gallery img {
	border: 1px solid #ccc;
	box-shadow: 2px 2px 6px 0px rgba(23, 85, 199, 0.3);
	max-width: 50%;
	margin: 25px;
}

.youtube-embed {
	padding-top: 25px;
	display: inline-table;
	margin: 5px;
}

p {
	margin: 0 0 10px 0;
	padding: 0;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

span {
	font-size: 32px;
}

#fb_section .fb-like {
	margin: 25px;
}

#qrcoder img {
	margin: 25px;
}

div {
	display: block;
}

.h10 {
	height: 5px;
}

.cleaner {
	clear: both;
	background-color: #3498db;
}

.cleaner {
	clear: both;
}

#contact_section_help {
	background: #bcd9ec;
}

.contact_form {
	margin-top: 25px;
	padding: 0;
	width: 500px;
	float: left;
}

.contact_form form {
	display: block;
	margin: 0px;
	padding: 0px;
}

.contact_form form label {
	cursor: default;
	display: block;
	width: 100px;
	margin: 10px;
	font-size: 18px;
	/* background-color: #a2ceeb; */
}

.contact_form form .input_field {
	width: 270px;
	padding: 5px;
	color: black;
	background: #a2ceeb;
	border: 1px solid black;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 15px;
}
.contact_form form textarea {
	padding: 5px;
	width: 270px;
	height: 200px;
	background: #a2ceeb;
	border: 1px solid black;
	color: black;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 15px;
}

.contact_form form .submit_btn {
	display: block;
	padding: 5px 14px;
	background: #a2ceeb;
	border: 1px solid black;
	color: black;
	font-size: 14px;
}

.float_l {
	float: left;
}

input[type="reset" i] {
	appearance: auto;
	user-select: none;
	white-space: pre;
	align-items: flex-start;
	text-align: center;
	cursor: default;
	box-sizing: border-box;
	background-color: buttonface;
	color: buttontext;
	padding: 1px 6px;
	border-width: 2px;
	border-style: outset;
	border-color: buttonborder;
	border-image: initial;
}

.float_r {
	float: right;
}

input[type="submit" i] {
	appearance: auto;
	user-select: none;
	white-space: pre;
	align-items: flex-start;
	text-align: center;
	cursor: default;
	box-sizing: border-box;
	background-color: buttonface;
	color: buttontext;
	padding: 1px 6px;
	border-width: 2px;
	border-style: outset;
	border-color: buttonborder;
	border-image: initial;
}

.sol{
	margin-top: 25px;
	float: left;
	margin-bottom: 25px;
	text-align: left;
}
.sol p1
{
	font-weight: bold;
	text-align: left;
}